a{
    color: mintcream;
    font-family: 'Roboto Condensed';
}
h1{
    color: black;
    font-family: 'Roboto Condensed';
    text-align:center;
}
h2{
    color: black;
    font-family: 'Roboto Condensed';
    text-align:center;
}
h3{
    color: black;
    font-family: 'Roboto Condensed';
}
h4{
    color: black;
    font-family: 'Roboto Condensed';
}
h5{
    color: mintcream;
    font-family: 'Roboto Condensed';
}
p{
    color: mintcream;
    font-family: 'Roboto Condensed';
    text-align:center;
    font-size:18px;
}
.btn{
    background:black;
    color:mintcream;
    font-family: 'Roboto Condensed';
}
  .waves-effect.waves-gray .waves-ripple {

     background-color: gray;
   }

   body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background:ghostwhite;
  }

  main {
    flex: 1 0 auto;
  }
  .mainpanel{
      margin:50px;

  }
  .input-field{
      background:linear-gradient(lightblue,ghostwhite);
  }